.hero {
	margin-top: 4rem;
	padding: 4rem 2rem;
	background-color: var(--bgCard);
}

.hero__title {
	text-transform: uppercase;
	color: var(--primaryText);
}

.hero__image__container {
	margin-bottom: 2rem;
}

.hero__image {
	width: 100%;
	height: 100%;
}

.hero__text {
	margin-bottom: 2rem;
	color: var(--secondaryText);
}

.hero__intro__text {
	color: var(--darkGrey);
	margin-bottom: 0;
	font-size: 1.5rem;
	font-family: 'Economica', sans-serif;
}

.hero__name {
	margin-top: 1rem;
	font-size: 4rem;
	line-height: 1.2;
}

.hero__title h2 {
	font-size: 1.5rem;
	font-weight: bold;
	color: var(--secondaryColor);
}

.hero__list__item {
	list-style: none;
	display: flex;
	margin: 1rem 0;
}

.hero__list {
	margin-bottom: 3rem;
}

.hero__list__item span {
	text-transform: capitalize;
}

.hero__list__item__icon {
	width: 30px;
	height: 30px;
	fill: var(--primaryColor);
	margin-right: 1rem;
}

.social__icons {
	display: flex;
}

.social__icon {
	border: 3px solid var(--primaryText);
	padding: 0.5rem;
	width: 50px;
	height: 50px;
	margin: 0 0.8rem;
	cursor: pointer;
	border-radius: 10px;
	transition: all 0.2s linear;
}

.social__icon:hover {
	border: 3px solid var(--mainWhite);
	fill: var(--mainWhite);
	background-image: var(--mainGradient);
}

@media screen and (min-width: 768px) {
	.hero__image__container {
		width: 90%;
		height: 90%;
		margin: 2rem auto;
	}

	.hero__image {
		border-radius: 20px;
	}

	.hero {
		background-color: var(--bgCard);
		width: 90%;
		margin: 5rem auto;
		border-radius: 10px;
		box-shadow: var(--lightShadow);
		position: relative;
		z-index: 2;
	}

	.hero__info {
		width: 80%;
		margin: 0 auto;
	}

	.hero__bg__home {
		background: var(--mainGradient);
		width: 100vw;
		top: 0;
		left: 0;
		height: 110rem;
		position: absolute;
		z-index: -1;
	}
}

.hero__bg__about {
	background-color: wheat;
}

@media screen and (min-width: 992px) {
	.hero {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 8rem;
	}

	.hero__image__container {
		flex: 0 0 calc(50% - 2rem);
		max-height: 40rem;
		overflow: hidden;
		align-self: flex-start;
		border-radius: 20px;
	}

	.hero__bg__home {
		height: 55rem;
	}

	.hero__info {
		margin-left: 4rem;
	}

	.hero__intro__text {
		font-size: 2rem;
	}
}
