.service {
	padding: 2rem;
	text-align: justify;
	transition: var(--mainTransition);
}

.service:hover {
	box-shadow: var(--lightShadow);
	background-color: var(--bgCard);
}

.service:hover .service__icon {
	fill: var(--secondaryColor);
}
.service__icon {
	width: 50px;
	height: 50px;
	fill: var(--secondaryText);
	margin-bottom: 1rem;
	transition: var(--mainTransition);
}

.service__title h2 {
	font-size: 1.8rem;
}

@media screen and (min-width: 768px) {
	.service {
		flex: 0 0 calc(50% - 1rem);
	}
}

@media screen and (min-width: 1050px) {
	.service {
		flex: 0 0 calc(33.33% - 2rem);
	}
}
