.timeline {
	text-transform: capitalize;
	margin-bottom: 0;
	color: var(--primaryText);
}

.subtitle {
	display: block;
	color: var(--primaryText);
}

.timeline__title {
	text-transform: uppercase;
	margin: 0.7rem 0;
	font-size: 1.7rem;
	color: var(--primaryText);
}

.timeline__info {
	text-transform: capitalize;
	color: var(--timelineSecondaryText);
}

.education__item {
	width: 14rem;
	margin-bottom: 4rem;
}

@media screen and (min-width: 768px) {
	.edu__exp__sec::after {
		content: '';
		position: absolute;
		width: 6px;
		background-color: white;
		top: 10rem;
		bottom: 2rem;
		left: 50%;
		margin-left: -3px;
	}
	.education__item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		position: relative;
	}

	.timeline__text {
		display: flex;
		flex-direction: column;
		width: 15rem;
	}

	.timeline::after {
		content: '';
		position: absolute;
		width: 25px;
		height: 25px;
		left: 49%;
		background: var(--reverseGradient);
		border: 4px solid var(--primaryColor);
		top: 15px;
		border-radius: 50%;
		z-index: 1;
	}
}

/* .remove__line::after{
	content: none;
} */

@media screen and (min-width: 992px) {
	.education__item {
		justify-content: space-around;
	}
}
