.content {
	margin-top: 4rem;
	min-height: calc(100vh - 23rem - 4rem);
}

.page__title {
	text-transform: uppercase;
	text-align: center;
	color: var(--primaryColor);
	margin-top: 6rem;
}

.page__title h1 {
	font-size: 2.5rem;
}

@media screen and (min-width: 768px) {
	.content {
		min-height: calc(100vh - 15rem - 4rem);
	}

	.page__title h1 {
		letter-spacing: 0.5rem;
		font-size: 4.5rem;
	}
}

.themeToggleContainer {
	width: 80px;
	height: 80px;
	background-color: transparent;
	/* border: 5px solid var(--primaryColor); */
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 1000;
}
